<h2>Admin Users</h2>

<ul>
  <% @users.each do |user| %>
    <li>Name: <%= user.firstname %> <%= user.lastname %></li>
    <li>ID: <%= user.id %></li>
    <li>Email: <%= user.email %></li>
    <li>Admin? <%= user.admin %></li>
  <% end %>
</ul>