<h2>Admin Users</h2>

<%= paginate @users %>

  <% @users.each do |user| %>
    <h4>Name: <%= user.firstname %> <%= user.lastname %></h4>
    <small>ID: <%= user.id %></small>
    <p>Email: <%= user.email %></p>
    <p>Admin? <%= user.admin %></p>
  <% end %>
